@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
.main-container{
    padding: 0% 8% 0% 8%;

}
header{
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    
}

.hero-text {
    font-size: 7vmax;
                                            
}
.year-disk{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.year{
    rotate: 90deg;   
}

.disk-box{
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    
}
.disk-row{
    display: flex;
    gap: 0.5rem;

}
.disk{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: solid 0.1em black;
   
}

hr{
    border: none;
    height: 0.2rem;
    background-color: rgb(227, 221, 221);
}




